<ion-view title="{{post.title}}">
    
    <!--
    <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="sharePost()"><i class="icon ion-share"></i></a>
    </ion-nav-buttons>
    -->
    
    <ion-content class="has-header">
        
        <div class="padding">
            <h2 class="title">{{post.title}}</h2>

            <p ng-show="{{post.attachments.length}}"><img ng-src="{{post.attachments[0].images.full.url}}"/></p>

            <p ng-bind-html="content"></p>
            
			<a class="button button-calm" href="{{registerURL}}"><i class="icon ion-ios-compose-outline"></i> Sign Up</a>
             <a  class="button button-clear" ng-click="sharePost($index)"><i class="icon ion-ios-upload-outline"></i> Share</a>



        </div>

    </ion-content>
</ion-view>